.SpotCreate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 500px;
}

.SpotCreate-form {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  width: 100%;
}

.SpotCreate-form h1,
.SpotCreate-form h2 {
  margin-bottom: 1rem;
  color: #333;
}

.SpotCreate-form input,
.SpotCreate-form textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.SpotCreate-form input:focus,
.SpotCreate-form textarea:focus {
  border-color: #387ca4;
}

.SpotCreate-form p {
  color: red;
  font-size: 0.875rem;
}

.SpotCreate-form button {
  background-color: #387ca4;
  color: white;
  padding: 14px 20px;
  margin: 15px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.SpotCreate-form button:hover {
  background-color: #fb535a;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-left: 10px;
}

.cityState {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cityInput {
  flex-grow: 1;
  margin-right: 10px;
}

.latLng {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.latInput {
  flex-grow: 1;
  margin-right: 10px;
}
