.CreateReviewModal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.star-rating {
  display: inline-block;
}

.star {
  cursor: pointer;
  font-size: 24px;
  color: grey;
  transition: color 0.2s ease;
}

.star.active {
  color: gold;
}

.disabled-button {
  background-color: grey;
  cursor: not-allowed;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviewText2 {
  width: 300px;
  height: 150px;
  resize: vertical;
  margin-top: 10px;
}
