.navbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-between;
  min-height: 100px;
  max-height: 100px;
}

.navbar-li {
  padding: 14px 16px;
}

.right-container {
  display: flex;
  align-items: center;
}

.navbar-li--right {
  margin-left: auto;
}

.navbar-li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.navbar-li a:hover {
  background-color: #fb535a;
}

.navbar-li a.active {
  text-shadow: 6px 2px 3px #387ca4;
}

.create-spot {
  margin-left: auto;
  padding-right: 20px;
  color: white;
  text-decoration: none;
}

.home-logo {
  width: 180px;
  height: 40px;
  margin-left: 20px;
}

.profile-button {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
